.squirrels img {
    max-width: 100%;
    margin-bottom: 15px;
    border: 1px solid #000;
}

.squirrels-search {
    margin-bottom: 15px;
}

.squirrels select {
    width: 250px;
    max-width: 100%;
}

.squirrels-inventory .row {
    margin-bottom: 10px;
}

.squirrels-pagination a {
    text-decoration: underline;
    padding: 2px 5px;
}

.squirrels-pagination a.squirrels-active {
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 3px;
    background: #EEE;
}